.tabs{
	display:inline-block;
}

.tabs > div{
	padding-top:10px;
	color: #5b4b49;
   font-size: 14px;
}
.tabs ul{
	margin:0px;
	padding:0px;
}
.tabs ul:after{
	content:"";
	display:block;
	clear:both;
	height:5px;
	/*background:#46c765;*/
}
.tabs ul li{
	background: #e9eaeb;
   border-right: 1px solid #cdc9c8;
   border-top: 1px solid #cdc9c8;
   border-left: 1px solid #cdc9c8;
   color: #5b4b49;
   cursor: pointer;
   display: block;
   float: left;
   margin: 1px;
   padding: 10px 15px;
}
.tabs ul li.active, .tabs ul li.active:hover{
	background: #fff;
   border-top: 2px solid #913f98;
}
.tabs ul li:hover{
	background:#fff;
}

