<html>
    <title>e-shop</title>
	<head>
        <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style-theme.css"/>
		<link rel="stylesheet" type="text/css" href="/thumbelina/thumbelina.css" />

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/slider/orbit.css">
		<link rel="stylesheet" type="text/css" href="/tabs/tabs.css">
        
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
				
		<script type="text/javascript" src="/thumbelina/thumbelina.js"></script>
		<script type="text/javascript" src="/js/common.js"></script>
		<script type="text/javascript" src="/slider/jquery.orbit.js"></script>
		<script type="text/javascript" src="/tabs/tabs.js"></script>
		<script type="text/javascript" src="/easyzoom/easyzoom.js"></script>
    </head>
	<body>    
        <div class="wrapper">	
        <!-- Start. header -->
		<div class="header">

			<div class="menu">
				<div class="menu-item">
					<a href="" >
						<div>
							<span>О магазине</span>
						</div>
					</a>				
				</div>
				<div class="menu-item">
					<a href="" >
						<div>
							<span>Доставка и оплата</span>						
						</div>
					</a>				
				</div>
				<div class="menu-item">
					<a href="" >
						<div>
							<span>Контакты</span>						
						</div>
					</a>				
				</div>			
			</div>
			
			<div class="header-info">

        <div class="logo">
            <a href="/">
                <img src="/img/logo.png" alt="" >
            </a>    
        </div>

                <div class="search-table">
                    <form action="/search" method="get" id="search-form">
                        <table>
                            <tr>
                                <td class="search-text">
                                    <div>
                                        <input name="q" id="search_input">
                                    </div>
                                </td>
                                <td class="search-icon">
                                    <div id="search-button">
                                        <img src="/img/search-red.png" alt="">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div class="contacts-table" >

                    <table>
                        <tr>
                            <td class="phone-icon"><img src="/img/phone.png" alt=""></td>
                            <td class="phone-text"><b>+38 (093) 123 45 67</b></td>
                        </tr>
                        <tr>
                            <td class="phone-icon"><img src="/img/phone.png" alt=""></td>
                            <td class="phone-text"><b>+38 (093) 987 65 43</b></td>
                        </tr>
                    </table>

                </div>

                 <!-- Start. cart -->
                 <div class="cart-item">
                    <table class="cart-item-table" data-href="/cart">
                        <tr>
                            <td class="cart-item-icon">
                                <img src="/img/cart-red.png" alt="">
                            </td>
                            <td class="cart-item-text">
                                {% if cart_preview.empty %}
                                    <span id="cart-empty">Корзина пуста</span>
                                    <div id="cart-full" style="display: none;">
                                        <p id="cart-count">{{cart_preview.count}} товаров</p>
                                        <p id="cart-summ">сумма: {{cart_preview.summ_total}} грн.</p>
                                    </div>
                                {% else %}
                                    <span id="cart-empty" style="display: none;">Корзина пуста</span>
                                    <div id="cart-full">
                                        <p id="cart-count">{{cart_preview.count}} товаров</p>
                                        <p id="cart-summ">сумма: {{cart_preview.summ_total}} грн.</p>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- End. cart -->

            </div>
        </div>

        <!-- End. header -->


    <!-- Start. popup-cart -->
    <div id="popup-cart" class="popup-cart">
        <div class="popup-content">
            <div class="image">
                <img id="popup-cart-img" src="" alt="" >
            </div>
            <div class="description">
                <div>
                    <span class="s1">Товар:</span>
                    <span class="s2"><b id="popup-cart-product"></b></span>
                </div>
                <div>
                    <span class="s3"><div>Успешно добален в корзину.</div></span>
                </div>
            </div>
        </div>
        
        <div class="buttons">
            <div id="popup-cart-continue-buy" class="action-btn-continue">
                <span>Продолжить покупки</span>
            </div>
            <div id="popup-cart-goto-cart" class="action-btn-order" data-href="/cart">
                <span>Оформить заказ</span>
            </div>
        </div>
    </div>
    <div id="hide-layout" class="hide-layout"></div>
    <!-- End. popup-cart -->


    <!-- Start. content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <!-- End. content -->

    {% block pagenator %}
    {% endblock %}

        <div class="footer">
            <div class="help">
                <table>
                    <tr>
                        <td class="footer-caption">Помощь покупателю</td>
                    </tr>
                    <tr>
                        <td class="footer-row">О магазине</td>
                    </tr>
                    <tr>
                        <td class="footer-row">Доставка</td>
                    </tr>
                    <tr>
                        <td class="footer-row">Оплата</td>
                    </tr>
                </table>
            </div>
            <div class="order-phones">
                <table>
                    <tr>
                        <td class="footer-caption">Заказ по телефону</td>
                    </tr>
                    <tr>
                        <td class="footer-row">+380 93 123 45 67</td>
                    </tr>
                    <tr>
                        <td class="footer-row">+380 93 876 54 32</td>
                    </tr>
                </table>
            </div>
        </div>

</div> <!-- wrapper -->
    </body>
</html>