{% extends "base.html" %}

    {% block content %}
    <!-- Start. category path -->
    <div class="category-path">
        <div class="path-home" data-href="/"><img src="/img/home.png" alt="" ></div>
        <div class="path-item">\Оформление заказа</div>
        <div class="path-spacer"></div>
    </div>
    <!-- End. category path -->

    <div class ="order-cart-holder">

        <!-- Start. order form -->
        <div class="order-form">
            <div>
                <div class="order-step-caption">
                    <table class="table-caption">
                        <tr>
                            <td><img src="/img/personal.png" alt="" ></td>
                            <td>Контактные данные</td>
                        </tr>
                    </table>
                </div>
                <table class="table-info">
                    <td class="service-info-text" colspan="2" >
                        Менеджер свяжится с Вами по указанным данным, так же по указанным данным
                        осуществляется выдача товара в отделениях почты
                    </td>
                    <tr>
                        <td class="caption"><span>Имя</span></td>
                        <td class="caption"><span>Фамилия</span></td>
                    </tr>
                    <tr>
                        <td class="value"><span><input></span></td>
                        <td class="value"><span><input></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="caption"><span>Телефон</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="value colspan2"><span><input placeholder="+38..."></span></td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="order-step-caption">
                    <table class="table-caption">
                        <tr>
                            <td><img src="/img/delivery.png" alt="" ></td>
                            <td>Доставка</td>
                        </tr>
                    </table>
                </div>
                <table class="table-info">
                    <td class="service-info-text" colspan="2">
                        Доставка покупок с интернет-магазина осуществляется по всей Украине
                        через компанию Новая Почта.
                        Стоимость доставки: 30грн до 1кг, 35грн до 2кг
                    </td>
                    <tr>
                        <td class="caption"><span>Город</span></td>
                        <td class="caption"><span>Адрес</span></td>
                    </tr>
                    <tr>
                        <td class="value"><span><input></span></td>
                        <td class="value"><span><input></span></td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="order-step-caption">
                    <table class="table-caption">
                        <tr>
                            <td><img src="/img/payment.png" alt="" ></td>
                            <td>Оплата</td>
                        </tr>
                    </table>
                </div>
                <table class="table-info">
                    <td class="service-info-text" colspan="2" >
                        Наложенный платеж при получении товара в Новой Почте
                        При этом покупатель оплачивает комиссию 20грн + 2%
                    </td>
                    <tr>
                        <td colspan="2" class="caption"><span>Комментарий к заказу</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="value"><div><textarea></textarea></div></td>
                    </tr>
                </table>
            </div>
            <div class="cart-buttons">
                <div class="order"><span>Заказать</span></div>
            </div>
        </div>
        <!-- End. order form -->

        <!-- Start. cart -->
        <div class="cart-page">
            <div class="cart-table">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="2" class="caption-h header-h">Название</td>
                            <td class="count-h header-h">Кол-во</td>
                            <td class="price-h header-h">Цена</td>
                            <td colspan="2" class="total-h header-h">Всего</td>
                        </tr>
                        {% for i in cart %}
                        <tr class="cart-row" id="cart-product{{i.product.id}}">
                            <td class="image cart-row-product-link" data-href="{{i.product.get_absolute_url}}">
                                <img src="{{i.product.productphoto_set.all.0.image.thumb_url}}" alt="" >
                            </td>
                            <td class="caption cart-row-product-link" data-href="{{i.product.get_absolute_url}}">
                                {{i.product.title}}
                            </td>
                            <td class="count">
                                <div class='cuantity'>
                                    <div class="cuantity-block">
                                        <div id='bt-plus' class='plus'></div>
                                        <input class='input' type='text' value='{{i.count}}'/>
                                        <div id='bt-minus' class='minus'></div>
                                    </div>
                                </div>
                            </td>
                            <td class="price">{{i.price}}</td>
                            <td class="total">{{i.summ}}</td>

                            <td class="delete">
                                <div class="cart-button-delete" id="cart-delete{{i.product.id}}">
                                    <img src="/img/delete.png" alt="" >
                                </div>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="total">
                <span>
                    <b id="b_summ_total">Всего к оплате: {{cart_preview.summ_total}} грн</b>
                </span>
            </div>
        </div>
    </div>
    <!-- End. cart -->
    {% endblock %}