{% extends "base.html" %}

{% block content %}

<!-- Start. content-left -->
<div class="content-left">
    {% include 'components/catalog_menu.html' %}
</div>
<!-- End. content-left -->

<!-- Start. content-center -->
<div class="content-center">

    <!-- Start. slider -->
    <div class="slider-on-main">
        <div id="featured">
            <img src="slider/images/1.jpg" alt="" />
            <a href="" target="_blank">
                <img src="slider/images/2.jpg" alt="" rel="" />
            </a>
            <img src="slider/images/3.jpg" alt="" rel="blue_market"/>
            <img src="slider/images/4.jpg"  alt="" rel="" />
        </div>
        <!--
        <span class="orbit-caption" id="ezioCaption"> Большая распродажа калясок </span>
        <span class="orbit-caption" id="marcusCaption"> А тут еще рекламный текст</span>
        <span class="orbit-caption" id="blue_market">Синенький магазинчик</span>
        -->
    </div>
    <!-- End. slider -->    

    {% include 'components/product_list.html' %}
    
</div>
<!-- End. content-center -->

{% endblock %}