{% extends 'base.html' %}

{% block content %}

<!-- Start. content-left -->
<div class="content-left">
    {% include 'components/catalog_menu.html' %}
</div>
<!-- End. content-left -->

<!-- Start. content-center -->
<div class="content-center">
    {% include 'components/product_list.html' %}
</div>
<!-- End. content-center -->

{% endblock %}


{% block pagenator %}
    {% include 'components/paginator.html' %}
{% endblock %}

