{% extends "base.html" %}

{% block content %}
<!-- Start. content-center-->
<div class="content-center-element">

    <!-- Start. category path -->
    <div class="category-path">
        <div class="path-home" data-href="/"><img src="/img/home.png" alt="" ></div>
        <div class="path-item" data-href="{{product_detail.catalog.parent.get_absolute_url}}">\{{product_detail.catalog.parent}}</div>
        <div class="path-item" data-href="{{product_detail.catalog.get_absolute_url}}">\{{product_detail.catalog}}</div>
        <div class="path-item" data-href="{{product_detail.get_absolute_url}}">\{{product_detail.title}}</div>
        <div class="path-spacer"></div>
    </div>
    <!-- End. category path -->

    <!-- Start. good-element -->
    <div class="good-element" id="{{product_detail.id}}">

        <!-- Start. image -->
        <div  id="slider-images-vertical">
            <div class="thumbelina-but vert top">&#708;</div>
            <ul>
                {% for photo in product_detail.productphoto_set.all %}
                    <li><img src="{{photo.image.thumb_url}}"></li>
                {% endfor %}
            </ul>
            <div class="thumbelina-but vert bottom">&#709;</div>
        </div>
        <div class="zoom-section">
            <a href="{{product_detail.productphoto_set.all.0.image.url}}" class="zoom">
                <img src="{{product_detail.productphoto_set.all.0.image.url}}" title="" alt=''/>
            </a>
        </div>
        <!-- End. image -->

        <!-- Start. main-info -->
            <div class="main-info">
                <div class="name">
                    <span>
                        <b id="product-title" data-href="{{product_detail.productphoto_set.all.0.image.thumb_url}}">
                            {{product_detail.title}}
                        </b>
                    </span>
                </div>
            </div>

            <div class="buy_holder">
                <div class="buy-table">
                <table>
                    <tr>
                        <td colspan="2">
                            <div class="product-code">
                                <span class="caption">Код товара:</span>
                                <span class="value">{{product_detail.code}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="price">
                                <span><b>{{product_detail.get_formated_price}} грн</b></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class='cuantity'>
                                <div id='bt-plus' class='plus'></div>
                                {% comment %}
                                {% if product_in_cart %}
                                <input class='input' type='text' value='{{product_in_cart.0.count}}'/>
                                {% else %}
                                <input class='input' type='text' value='1'/>
                                {% endif %}
                                {% endcomment %}

                                    <input class='input' type='text' value='1'/>

                                <div id='bt-minus' class='minus'></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="click-cart" class="button-buy">
                                <span>Купить</span>
                            </div>
                        </td>
                    </tr>
                    {% if product_in_cart %}
                    <!--
                    <tr>
                        <td colspan="2">
                            Товар в корзине
                        </td>
                    </tr>
                    -->
                    {% endif %}
                </table>
            </div>

                <!-- Start. payment delivery -->
                <div class="service-info">
                <table>
                    <tr>
                        <td class="service-info-icon"><img src="/img/payment.png" alt=""></td>
                        <td class="service-info-caption">Оплата</td>
                    </tr>
                    <tr>
                        <td class="service-info-text" colspan="2" >
                                Наложенный платеж при получении товара в Новой Почте
                                При этом покупатель оплачивает комиссию 20грн + 2%
                        </td>
                    </tr>

                    <tr>
                        <td class="service-info-icon"><img src="/img/delivery.png" alt=""></td>
                        <td class="service-info-caption">Доставка</td>
                    </tr>
                    <tr>
                        <td class="service-info-text" colspan="2">
                            Доставка покупок с интернет-магазина осуществляется по всей Украине
                            через компанию Новая Почта.
                            Стоимость доставки: 30грн до 1кг, 35грн до 2кг
                        </td>
                    </tr>
                </table>
                </div>
                <!-- End. payment delivery -->
            </div>
            <!-- End. main-info -->
        </div>
        <!-- End. good-element -->

        <!-- Start. tabs -->
        <div class="tabs">
            <ul>
                <li>Описание</li>
                <li>Характеристики</li>
            </ul>
            <div>
                <div>
                    {{product_detail.description}}
                </div>
                <div>Детальные Характеристики товара</div>
            </div>
        </div>
        <!-- End. tabs -->

    </div>
    <!-- End. content-center -->

    <!-- Start. content-right -->
    <!--
    <div class="content-right">


    </div>
    -->
    <!-- End. content-right -->
    {% endblock %}