{% extends 'base.html' %}

{% block content %}

<!-- Start. category path -->
    <div class="category-path">
        <div class="path-home" data-href="/"><img src="/img/home.png" alt="" ></div>
        <div class="path-item">\Результат поиска для: {{term}}</div>
        <div class="path-spacer"></div>
    </div>
<!-- End. category path -->

<!-- Start. content-left -->
<div class="content-left">
    {% include 'components/catalog_menu.html' %}
</div>
<!-- End. content-left -->

<!-- Start. content-center -->
<div class="content-center">
    {% include 'components/product_list.html' %}
</div>
<!-- End. content-center -->

{% endblock %}


{% block pagenator %}
    {% include 'components/paginator.html' %}
{% endblock %}
