/*
violet #913f98
violet light #f57ce6 
green #a5cf3a
green dark #84a52e
orange #faa61a
*/

body{
    margin: auto;
    max-width: 1100px;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
.wrapper{
	display: table;
	height: 100%;
	width:100%;
}
/*Start. header*/
.header{
	box-shadow: -1px 1px 4px -3px #333333;
    margin: auto auto 10px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}

/*-------------------------------------------------------------------*/

.header-info{
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
    background: #f8f8f8;
}

.logo{
    overflow: hidden;
    float: left;
}
.logo img{
    height: 80px;
}
/*Start. search*/
.search-table{
    overflow: hidden;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    width: 45%;
}
.search-table .search-text{
    width: 100%
}
.search-text div{
    border-top: 1px solid #913f98;
    border-bottom: 1px solid #913f98;
    border-left: 1px solid #913f98;
    border-radius: 3px 0px 0px 3px;
}
.search-text input{
    height: 30px;
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    background: #f8f8f8;
}
.search-icon div{
    border-top: 1px solid #913f98;
    border-bottom: 1px solid #913f98;
    border-right: 1px solid #913f98;
    border-radius: 0px 3px 3px 0px;
}
.search-icon div img{
    width: 30px;
    height: 30px;
}
/*End. search*/

/*Start. contacts*/
.contacts-table{
    overflow: hidden;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.contacts-table td{
    color:#913f98;
}
/*End. contacts*/

/*Start. cart-item*/
.cart-item{
    overflow: hidden;
    float: left;
    border: 1px solid #faa61a;
    border-radius: 7px;
    margin-left: 30px;
    margin-top: 15px;
}
.cart-item .cart-item-icon{
    background: linear-gradient(#fddba3, #faa61a) #faa61a;/*#faa61a fddba3*/
    cursor: pointer;
}
.cart-item .cart-item-text{
    color: #913f98;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
}
/*End. cart-item*/
/*-------------------------------------------------------------------*/

/*Start. header menu*/
div.header div.menu{
	background: #a5cf3a none repeat scroll 0 0;
    overflow: hidden;
}

div.header div.menu div.menu-item{
	float: left;
	float: left;
    padding-left: 10px;
    padding-right: 30px;
    height: 20px;
    padding-top: 5px;
}

div.header div.menu div.menu-item:hover{
 	 background: none repeat scroll 0 0 #84a52e;
}

div.header div.menu div.menu-item a{
 	color: #fff;
   font-size: 15px;
   text-decoration: none;	
}
/*End. header menu*/

/*End. header*/

div.content{
	overflow: hidden;
	display: table-row;
	height:100%;
}

div.content-center{
	float: left;
	width: 80%;
}

div.content-right{
	float: left;
	width: 20%;
}
div.content-center-element{
    float: left;
    width: 100%;
}

.footer{
    background: #a5cf3a none repeat scroll 0 0;
    display: block;
    height: 150px;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 7px 7px 0 0;
}

.footer .footer-caption {
    font-size: 16px;
    padding-bottom: 10px;
}
.footer .footer-row {
    padding: 5px 5px 5px 20px;
    font-size: 14px;
}

.footer .help {
    float: left;
    margin: 30px;
}


.footer .help > table {
    color: #fff;
}

.footer .order-phones {
    float: left;
    margin: 30px;
}

.footer .order-phones > table {
    color: #fff;
}
/*Start. goods-list*/

.goods-list{
	
}

.good{
	float: left;
	width: 200px;
	height: 260px;
	margin: 5px;
	border:1px solid #fff;
	padding-top: 15px;
    box-shadow: 0 0 3px 0 #aaa;
    border-radius: 7px;
}

.good a{
	text-decoration: none;
}

.good img.main-image{
	width: 100%;
	height: 180px;	
}

.good .description{
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	color: #913f98;
	height: 40px;
}

.good .buy-container{
   display: block;
   padding-right: 5px;
}

.good .price{
    background: #faa61a none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    float: left;
    font-size: 17px;
    height: 23px;
    margin-left: 5px;
    text-align: center;
    width: 100px;
    box-shadow: 0px 0px 3px 0 #aaa;
    padding-top: 7px;
    font-weight: 900;

}

.good .button-buy{
	color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-left: 120px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    background-color: #913f98;
    display: none;
    border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
    box-shadow: 0px 0px 3px 0 #aaa;
}

.good .button-buy:hover{
	background-color: #f57ce6;
}


/*End. goods-list*/

/*Start. catalog-menu*/
div.catalog-menu{
    background: #913f98 none repeat scroll 0 0;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 1px #aaa;
}

div.catalog-menu div.description{
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

div.catalog-menu div.menu-item{
    background: #913f98 none repeat scroll 0 0;
    border-bottom: 1px solid #743279;
    overflow: hidden;
}

.catalog-menu .category{
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 22px;
    padding-bottom: 5px;
    padding-left: 10%;
    padding-top: 5px;
    width: 75%;
}

.catalog-menu .category:hover{
	color:#f57ce6;
}

.catalog-menu .active{
    cursor: pointer;
    float: left;
    padding-top: 5px;
}

.catalog-menu .active img{
	height: 22px;
	width:22px;
}
/*Start. sub-catalog-menu*/
.sub-menu{
    display: none;
}
.sub-menu-item{
    background: #a5cf3a none repeat scroll 0 0;
    overflow: hidden;
}
.sub-menu-item a{
    text-decoration: none;
    color: #fff;
}

.sub-menu-item div.sub-active{
    background: #a5cf3a none repeat scroll 0 0;
    float: left;
    height: 30px;
    width: 5px;
}

.sub-menu-item  .sub-category{
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 7px;
    width: 90%;
}

/*End. sub-catalog-menu*/

.menu-footer{
    display: block;
    height: 8px;
    width: 100%;
    background: #913f98;
}
/*End. catalog-menu*/

/*Start. good-element*/

div.good-element{
	overflow: hidden;	
}

div.content-center div.info{
	overflow: hidden;	
}

#slider-images-vertical {
	position:relative;
   margin-top:23px;
   width:93px;
   height:253px;
   /*border-left:1px solid #aaa;*/
   /*border-right:1px solid #aaa;*/
   margin-bottom:40px;
	float:left;
}
#slider-images-vertical ul li img{
	width:80px;
	height:80px;
}
			
.zoom-section{
	margin-left:5px;
	width:296px;
	height:296px;
	/*border:1px solid #aaa;*/
	float:left;
}

.zoom-section img{
width:296px;
height:296px;
}

.main-info {
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    color: #913f98;

}
.main-info .name{
    padding-left: 420px;
}

/*Start. buy-table*/
.buy-table{
    float: left;
    margin-left: 6%;
    width: 15%;
    margin-top: 20px;
}

.buy-table table {
    width: 120px;
}

.product-code .caption {
    font-size: 12px;
}
.product-code .value {
    font-size: 14px;
}

.buy-table div.button-buy{
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 7px 20px;
    text-align: center;
    background-color: #913f98;
    display: block;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    margin-top: 15px;
}

.buy-table div.button-buy:hover{
    background-color: #f57ce6;
}
.buy-table div.cuantity{
    margin-top: 15px;
}
.cuantity .plus{
    cursor:pointer;
    float:left;
    height: 20px;
    width: 13px;
    background: url('img/plus.png');
}
.cuantity .minus{
    cursor:pointer;
    float:left;
    height: 20px;
    width: 13px;
    background: url('img/minus.png');
}
.cuantity .input{
    border: 1px #913f98;
    padding:0px;
    float:left;
    width: 40px;
    height:20px;
    font: bold 15px Helvetica, sans-serif;
    text-align: center;
    color:#913f98;
}

.buy-table .price{
    background: #faa61a none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 17px;
    height: 23px;
    text-align: center;
    margin-top: 15px;
    padding-top: 7px;
    font-weight: 900;
}


/*End. buy-table*/

/* Start. payment delivery */
.service-info{
    border: 1px solid #faa61a;
    border-radius: 7px;
    float: left;
    margin-left: 3%;
    width: 35%;
    margin-top: 20px;
    padding: 5px;
}
.service-info-caption{
    color: #faa61a;
    font-size: 15px;
}
.service-info-text {
    color: #5b4b49;
    font-size: 14px;
    padding: 10px;
    width: 400px;
}
.service-info-icon{
    width: 40px;
}
/* End. payment delivery */

/*End. good-element*/

/*Start. popup-cart*/

.hide-layout {
	z-index:9999;
	left:0;
	top:0;
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	display:none;
}

.popup-cart{
	z-index:10000;
	position:fixed;
	width:560px;
	height:180px;
	background: #fff;
	border-radius: 7px;
	display:none;
}

.popup-cart .popup-content{
	overflow: hidden;	
}

.popup-cart .image{
   float: left;
   margin: 20px;	
}

.popup-cart .image img{
	height: 90px;
	width: 100px;
}
	
.popup-cart .description{
   float: left;
   margin-left: 20px;
   margin-top: 50px;
   width: 65%;	
   color: #5b4b49;	
}

.popup-cart .description .s1{
	font-size: 14px;
}

.popup-cart .description .s2{
	font-size: 16px;
}

.popup-cart .description .s3{
	font-size: 14px;
}
.popup-cart .description .s3 div{
	padding-top:10px;
}	
.popup-cart .buttons{
	overflow: hidden;	
}

/*.popup-cart .continue-buy{*/
.popup-cart .action-btn-continue{
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	padding: 7px 20px;
	text-align: center;
	background-color: #913f98;
	display: block;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	box-shadow: 0px 0px 3px 0 #aaa;
	float: left;
	width: 200px;
	margin-top: 5px;   	   
	margin-left: 25px;		
}


.popup-cart .action-btn-continue:hover{
	background-color: #f57ce6;	
}

.popup-cart .action-btn-order{
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	padding: 7px 20px;
	text-align: center;
	background-color: #faa61a;
	display: block;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	box-shadow: 0px 0px 3px 0 #aaa;
	float: left;
	width: 200px;
	margin-top: 5px;   	   
	margin-left: 25px;		
}


.popup-cart .action-btn-order:hover{
	background-color: #f4b80c;	
}
/*End. popup-cart*/

/*Start. cart*/

.order-cart-holder{
	display:table;
	margin:0 auto;
}
.cart-page{
	border-radius: 7px;
    box-shadow: 0 0 3px 0 #ccc;
    float: left;
    margin: 5px;
	width:auto;
}

.cart-page .service-info{
	border-radius: 7px;
    float: left;
    margin-left: 3%;
    padding: 5px;
	border: none;
	width:100%;
	margin-top:0px;
}
.content .caption-page{
	color: #913f98;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;	
}

.cart-table{
	border: 1px solid #faa61a;	
	margin: 10px;
}

.cart-table th{
	font-weight:normal;
	font-size: 14px;
	color: #fff;
	background: #faa61a;
}

.cart-table td{
	font-size: 15px;
}

.cart-table td img{
	width: 100px;
	height: 90px;
}
 
.cart-table th.image{
	width: 100px;
}
.cart-table td.image{
	border-top: 1px solid #faa61a;
}

.cart-table th.caption{
	border-right: 1px solid #faa61a;
    /*width: 20%;*/
}
.cart-table td.caption{
	padding-left: 10px;
	border-right: 1px solid #faa61a;
	border-top: 1px solid #faa61a; 
}

.cart-table th.count{
	border-right: 1px solid #faa61a;
    /*width: 10%;*/
}
.cart-table td.count{
	border-right: 1px solid #faa61a;
	border-top: 1px solid #faa61a;
}

.cart-table td.count div.cuantity{
	margin-top: 5px;
	padding-left: 10px;
}

.cart-table th.price{
	border-right: 1px solid #faa61a;
    /*width: 10%;*/
}
.cart-table td.price{
	padding-left: 10px;
	border-right: 1px solid #faa61a;
	border-top: 1px solid #faa61a;
}

.cart-table th.total{
   /*width: 10%;*/
}
.cart-table td.total{
	padding-left: 10px;
	border-top: 1px solid #faa61a;
}

.cart-table th.delete{
  
}

.cart-table td.delete{
	border-top: 1px solid #faa61a;	
}

.cart-table td.delete div.delete img{
	width: 22px;
	height:22px;
	cursor:pointer;
}

.total{
	font-size: 14px;
	color: #5b4b49;
	margin: 10px 10px 33px;
	font-weight:700;	
}	
/*End cart*/

/*Start. order form*/
.order-form{
	border-radius: 7px;
    box-shadow: 0 0 3px 0 #ccc;
    float: left;
    margin: 5px;
    padding-right: 15px;
	display:inline-block;
}

.cart-buttons{
	float: right;
    margin: 10;
}

.cart-buttons .order{
	color: #fff;
	cursor: pointer;
	float: left;
	width: 150px;
	font-size: 15px;
    padding: 7px 20px;
    text-align: center;
	margin-top: 5px;   
    background: #faa61a;   
    display: block;   
    border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;	
}
.cart-buttons .order:hover{
	background : #f4b80c;
}

.order-step-caption{
    font-size: 14px;
    padding-top: 10px;
}
.order-step-caption .table-caption{
	margin-left:10px;
}
.order-step-caption .table-caption td{
	padding-left: 5px;
	color: #faa61a;
}
.order-form .table-info{
	margin-left:30px;
}
.order-form .caption{
	color: #aaaaaa;
    font-size: 12px;
    height: 20px;
    margin-left: 5px;
    vertical-align: bottom;
}	
.order-form .caption span{
	margin-left:5px;
}
.order-form .value span input{
	border: 1px solid #aaaaaa;
    border-radius: 5px;
    color: #913f98;
    height: 25px;
    margin-left: 5px;
    width: 180px;
}
.order-form .value-address span input{
	border: 1px solid #aaaaaa;
    border-radius: 5px;
    color: #913f98;
    height: 25px;
    margin-left: 5px;
    width: 365px;
}
.order-form .value div textarea{
	border: 1px solid #aaaaaa;
    border-radius: 5px;
    color: #913f98;
    margin-left: 5px;
    width: 365px;
	height:70px;
}

/*End. order form*/



/*Start. page-switcher*/
.page-switcher-holder{
	display: table;
	margin:0 auto;
}
.page-switcher{
	background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 3px 1px #aaa inset;
    margin-top: 10px;
    overflow: hidden;
    padding: 3px;
	display: inline-block;
}
.page-switcher .page-number{
	background: #a5cf3a none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 1px 1px 3px 1px #aaa;
    color: #fff;
    float: left;
    height: 12px;
    margin: 4px;
    padding: 8px;
    text-align: center;
    padding-bottom: 13;
	min-width: 30px;
	cursor:pointer;
}
.page-switcher .page-number:hover{
	background: #84a52e;
}

.page-switcher .current-page{
	box-shadow: 2px 2px 4px 0px #333 inset;
	background: #84a52e;
}
.page-switcher .current-page:hover{
	background: #84a52e;
}
.page-switcher  .page-spacer{
	cursor :default;
	background: #f2f2f2;
	float:left;
	height: 12px;
    margin: 4px;
    padding: 8px;
    text-align: center;
    padding-bottom: 13;
	min-width: 15px;
	color:#84a52e;
}

/*End. page-switcher*/

/*Start. category path */
.category-path{
	overflow: hidden;
    color: 913f98;
    font-size: 14;
    margin-bottom: 10;
}
.category-path .path-home{
	float:left;
}
.category-path .path-item{
	float:left;
}
.category-path .path-spacer{
	overflow: hidden;
    height: 12;
    border-bottom: 2px dotted #913f98;
    margin-right: 30px;
}
/* End. category path */


#featured {
	/*width: 940px;
	height: 450px;*/
	width: 850px;
	height:200px;
	background: #009cff url('slider/orbit/loading.gif') no-repeat center center;
	overflow: hidden;
	box-shadow: 0px 0px 3px 1px #aaa;
	border-radius: 7px;
}
#featured img{
    width: 100%;
	height: 100%;
}
#easy_zoom{
	width:400px;
	height:400px;
	border:0px solid #913f98;
	background:#fff;
	color:#333;
	position:absolute;
	top:130px;
	left:40%;
	overflow:hidden;
	-moz-box-shadow:0 0 10px #777;
	-webkit-box-shadow:0 0 10px #777;
	box-shadow:0 0 10px #777;
	/* vertical and horizontal alignment used for preloader text */
	line-height:400px;
	text-align:center;
}
