
<!--
parameters:
    catalog_menu
    sub_catalog
-->
<!-- Start. catalog menu -->
<div class="catalog-menu">
<div class="description"><span>КАТАЛОГ</span></div> 
    {% for top in catalog_menu %}          
        <!-- Start. catalog top -->
        <div class="menu-item" data-href="">
            <div class="category"><span>{{top.title}}</span></div>
            
            {% if sub_catalog.parent.id == top.id %}
            <div class="active"><img class="arrow" src="/img/arrow-down.png" alt="" ></div>
            {% else %}
            <div class="active"><img class="arrow" src="/img/arrow-left.png" alt="" ></div>
            {% endif %}
        </div>
        <!-- End. catalog top -->
        {% if top.catalogsub_set.count %}
            
            {% if sub_catalog.parent.id == top.id %}
            <div class="sub-menu sub-menu-open">
            {% else %}
            <div class="sub-menu">
            {% endif %}
            
            {% for sub in top.catalogsub_set.all %}                 
                <!-- Start. catalog sub -->
                <div class="sub-menu-item">
                    <a href="{{sub.get_absolute_url}}">
                        <div class="sub-active"></div>
                        {% if sub_catalog.id == sub.id %}
                        <div class="sub-category sub-category-open">{{sub.title}}</div>
                        {% else %}
                        <div class="sub-category">{{sub.title}}</div>
                        {% endif %}
                    </a>
                </div>
                <!-- End. catalog sub -->                  
            {% endfor %}              
            </div>
        {% endif %}       
    {% endfor %}    
</div>
<!-- End. catalog menu -->