<!--
parameters:
    product_list
    paginator_builder , see get_paginator_builder()
-->
<!-- Start. pagenator -->
<div class="page-switcher-holder">
    <div class="page-switcher">                   
        
        {% if product_list.has_previous %}
            <a href="?page={{product_list.previous_page_number}}">
            <div class="page-number">
                <img src="/img/prev-page.png" alt="" >
            </div>    
            </a>
        {% else %}    
            <div class="page-number-disable">
                <img src="/img/prev-page.png" alt="" >
            </div>
        {% endif %}
        
        {% for page in paginator_builder%} 
            {% if page == '.' %}
                <div class="page-spacer">...</div>
            {% elif page == product_list.number %}
                <a href="?page={{page}}">
                    <div class="page-number current-page"> {{page}}</div>
                </a>
            {% else %}
                <a href="?page={{page}}">
                    <div class="page-number">{{page}}</div>
                </a>
            {% endif %}    
        {% endfor %}
        
        {% if product_list.has_next %}
            <a href="?page={{product_list.next_page_number}}">
                <div class="page-number">
                    <img src="/img/next-page.png" alt="" >
            </div>
           </a>     
        {% else %}
            <div class="page-number-disable">
                <img src="/img/next-page.png" alt="" >
           </div>
        {% endif %}
        
    </div>
</div>
<!-- End. pagenator -->
 
