<!--
parameters:
    product_list
-->
<!-- Start. product-list -->
<div class="goods-list">
{% for product in product_list %}
    <div class="good" id="{{product.id}}">
        <a href="{{product.get_absolute_url}}" >
            <img class="main-image" id="product_image_{{product.id}}" src="{{product.productphoto_set.all.0.image.thumb_url}}" alt="" >
            <div>
                <div class="description" id="product_description_{{product.id}}">{{product.title}}</div>
            </div>
        </a>
        <div class="buy-container">
            <div class="price">
                <span><b>{{product.get_formated_price}} грн</b></span>
            </div>
            <div class="button-buy">Купить</div>
        </div>
    </div>
{% endfor %}    
</div>
<!-- End. product-list -->
 
